<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!-- style -->
    <link rel="stylesheet" href=../static/style.css type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>To do list</title>
</head>
<body>
<div class="conteiner" style="width: 90%; margin:auto">

    <div class="head" style="padding-top: 20px;">
        <div class="d-inline-block float-left">
            <h4>What should I do today???</h4>
            <h5>Make your life more organized and <a href="/add"><b>add a new task</b></a></h5></div>

        <div class="d-inline-block float-right">
            <h6>Task execution checkout:</h6>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a class="btn btn-info" href="/?execution=false">Undone</a>
                <a class="btn btn-success" href="/?execution=true">Already done</a>
            </div>

        </div>
    </div>


    <div class="content" style="clear:both; padding-top: 20px;">
        <div class="d-flex flex-wrap">

            <div th:each="task:${tasks}" class="card text-center" style="width: 12rem; margin: 10px">

                <div class="card-header" th:text="${task.getShortcut()}"
                     th:style="${!task.isExecution() ? 'background-color:#ccffcc' : 'background-color:#cccccc'}">
                </div>


                <div class="card-body">

                    <p class="card-text text-info" th:text="${task.getCategory()}">Category</p>
                    <p class="card-title" th:text="${task.getDate()}" style="color: red;">deadline</p>
                    <p class="card-text" th:text="${task.getDescription()}">description</p>
                    <p class="card-text" th:text="${task.isExecution()}">done or not</p>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-light" th:href="|/edit?id=${task.id}|">Edit.</a>
                        <a class="btn btn-light" th:href="|/delete?id=${task.id}|">Delete.</a>
                    </div>

                </div>
                <div class="card-footer text-muted" th:text="${task.getTimescale()}">
                    2 days ago
                </div>
            </div>

        </div>
    </div>


</div>
</body>
</html>